@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1610;
  --foreground: #F3E4C9;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
